$white: #ffffff;
$black: #000000;
$primary1: #00c6a9;
$primary2: #252525;
$textCol: #999;

body {
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
  }
.main-header{
  margin-top: 4em;
}

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }

  .userIcon{
    margin-right: 0.5em;
  }

  .btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.navbar{
  background-color: $primary1;
}
.navbar-brand {
  padding: 15px 35px;
  color: $primary2;
  font-weight: bold;
  font-size: larger;
}

.navbar {
  .nav-item {
    .nav-link {
      padding: 3px 15px;
      margin: 10px 15px;
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }

    &:hover {
      .nav-link {
        color: $primary2;
      }
    }
  }
}

.jumbotron{
  margin-top: 2em;
  text-align: center;
}
.profileHeader{
  margin-bottom: 2em;
}

.profileDetails{
  text-align: left;
  margin: auto;
}

.editInfo{
  text-align: center;
}

.book_section {
  h4 {
    position: relative;
    padding-bottom: 5px;

    span {
      color: $primary1;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 55px;
      height: 2px;
      background-color: $primary1;
    }

    margin-bottom: 35px;
  }

  form {
    padding: 35px 45px;
    box-shadow: 0 0 15px 10px rgba($color: #000000, $alpha: .07);

    label {
      color: $black;
    }

    .form-control {
      width: 100%;
      background-color: transparent;
      border: 1px solid $primary1;
      height: 45px;
      outline: none;
      box-shadow: none;
      border-radius: 5px;
      padding: 0 15px;

      &::placeholder {
        color: $primary1;
      }
    }

    #inputDate {
      color: $primary1;

      input {
        color: $primary1;
      }
    }

  }
}
.btn-box{
  text-align: center;
}
button.btn {
  background-color: $primary2;
  color: #ffffff;
  padding: 10px 45px;
  border-radius: 5px;
  margin-top: 10px;
  text-transform: uppercase;
}