 <div class="container" *ngIf="currentUser; else loggedOut">
    <div class="jumbotron">
      <h3 class="profileHeader">
        <strong>{{ patient.lastName | uppercase }} {{ patient.firstName | titlecase }}</strong> 
      </h3>    
    <!--
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  -->
  <div class="col-md-8 profileDetails">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <h6 class="mb-0">NHS Number</h6>
          </div>
          <div class="col-sm-8 text-secondary">
            {{patient.socialSecurityNumber}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <h6 class="mb-0">Birthdate</h6>
          </div>
          <div class="col-sm-8 text-secondary">
            {{patient.birthdate}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-8 text-secondary">
            {{patient.email}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-8 text-secondary">
            {{patient.phone}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-4">
            <h6 class="mb-0">Address</h6>
          </div>
          <div class="col-sm-8 text-secondary">
            {{patient.address}}, {{patient.postCode}}, {{patient.city}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12 editInfo">
            <a class="btn btn-info ">Edit</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  <ng-template #loggedOut>
    Please login.
  </ng-template>